.breadcrums {
    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;
        @media all and (max-width: 1023px) {
            margin: 30px 0;
        }
        span a, span a span {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            color: #0A2756;
            text-decoration: none;
        }
        span span {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            color: #397BE7;
        }
    }
    &__splash {
        width: 6px;
        height: 6px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 50%;
        background: #397BE7;
    }
}