.block_reviews {
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    @media all and (max-width: 1023px) {
        padding-top: 60px;
        padding-bottom: 90px;
    }
    &__item {
        position: relative;
    }
    .rev_button {
        position: absolute;
        top: -100px;
        right: 0;
        @media all and (max-width: 1023px) {
            display: none;
        }
        &__prev {
            width: 40px;
            height: 40px;
            background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M26.9835 3.33331H13.0168C6.95016 3.33331 3.3335 6.94998 3.3335 13.0166V26.9666C3.3335 33.05 6.95016 36.6666 13.0168 36.6666H26.9668C33.0335 36.6666 36.6502 33.05 36.6502 26.9833V13.0166C36.6668 6.94998 33.0502 3.33331 26.9835 3.33331Z' fill='%231D68E4'/%3E%3Cpath d='M22.0999 27.1334C21.7832 27.1334 21.4665 27.0167 21.2165 26.7667L15.3332 20.8833C14.8499 20.4 14.8499 19.6 15.3332 19.1167L21.2165 13.2333C21.6999 12.75 22.4999 12.75 22.9832 13.2333C23.4665 13.7167 23.4665 14.5167 22.9832 15L17.9832 20L22.9832 25C23.4665 25.4834 23.4665 26.2833 22.9832 26.7667C22.7499 27.0167 22.4332 27.1334 22.0999 27.1334Z' fill='%231D68E4'/%3E%3C/svg%3E%0A") 50% no-repeat;
            margin-right: 20px;
            padding: 0;
            border: 0;
            cursor: pointer;
        }
        &__next {
            background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M26.983 3.33331H13.0163C6.94967 3.33331 3.33301 6.94998 3.33301 13.0166V26.9666C3.33301 33.05 6.94967 36.6666 13.0163 36.6666H26.9663C33.033 36.6666 36.6497 33.05 36.6497 26.9833V13.0166C36.6663 6.94998 33.0497 3.33331 26.983 3.33331Z' fill='%231D68E4'/%3E%3Cpath d='M17.9001 27.1334C17.5835 27.1334 17.2668 27.0167 17.0168 26.7667C16.5335 26.2833 16.5335 25.4834 17.0168 25L22.0168 20L17.0168 15C16.5335 14.5167 16.5335 13.7167 17.0168 13.2333C17.5001 12.75 18.3001 12.75 18.7835 13.2333L24.6668 19.1167C25.1501 19.6 25.1501 20.4 24.6668 20.8833L18.7835 26.7667C18.5335 27.0167 18.2168 27.1334 17.9001 27.1334Z' fill='%231D68E4'/%3E%3C/svg%3E%0A") 50% no-repeat;
            width: 40px;
            border: 0;
            height: 40px;
            padding: 0;
            cursor: pointer;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 140%;
        color: #071A39;
        margin-bottom: 50px;
        padding-right: 105px;
        @media all and (max-width: 1023px) {
            font-size: 32px;
            margin-bottom: 30px;
            padding-right: 0;
        }
    }
    &__slider {
        display: flex;
    }
    &__block {
        padding: 30px;
        background: #F8FAFC;
        border: 1px solid #E3ECFC;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__img {
        margin-right: 20px;
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        border-radius: 50%;
    }
    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #071A39;
        @media all and (max-width: 1023px) {
            font-size: 16px;
        }
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: #0A2756;
        margin-bottom: 20px;
        @media all and (max-width: 1023px) {
            font-size: 14px;
        }
    }
    &__stars {
        margin-top: auto;
    }
    @media all and (max-width: 480px) {
        .glide-wrapper {
            max-width: 100vw;
            overflow: hidden;
        }
        .glide {
            max-width: 276px;
            margin-left: -20px;
            margin-right: auto;
            position: unset;
            margin-bottom: 24px;
        }
        .glide__track {
            overflow: visible!important;
        }
        .glide__bullets {
            position: absolute;
            bottom: -40px;
            left: 8px;
            right: 8px;
            width: calc(100% - 16px);
        }
    }
}