.block_prev {
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
    @media all and (max-width: 1023px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 140%;
        color: #071A39;
        margin-bottom: 40px;
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
            font-size: 32px;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
    }
    &__block {
        background: #F8FAFC;
        border: 1px solid #E3ECFC;
        border-radius: 5px;
        padding: 40px 30px;
        margin-bottom: 20px;
        width: calc(25% - 20px);
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
        }
    }
    &__icon {
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        @media all and (max-width: 1023px) {
            width: 60px;
            height: 60px;
            margin-bottom: 16px;
        }
    }
    &__tit {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #071A39;
        margin-bottom: 10px;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: #0A2756;
    }
    @media all and (max-width: 480px) {
        .glide-wrapper {
            max-width: 100vw;
            overflow: hidden;
        }
        .glide {
            max-width: 276px;
            margin-left: -20px;
            margin-right: auto;
            position: unset;
            margin-bottom: 24px;
        }
        .glide__track {
            overflow: visible!important;
        }
        .glide__bullets {
            position: absolute;
            bottom: 60px;
            left: 8px;
            right: 8px;
            width: calc(100% - 16px);
        }
    }
}